/*Made by Samalmi for her personal website
2022-11-18 - Last edit 2022-12-10
home page*/

body {
  background-image: url("https://share.icloud.com/photos/0afj14MPTEuJ0g941ZJFA5ZJg");
}

body {
  background-image: url("https://imgur.com/vZXp6ZO");
  Background-size: cover;
  color: green;
  font-family: Arial;

.a{
  text-decoration: none
  color: green;
}