/*Made by Samalmi for her personal website
2022-11-18 - Last edit 2022-12-10
home page*/

body {
  background-image: url("Home_Background.png");
  Background-size: cover;
  color: green;
  font-family: Arial;

a{
  text-decoration: none
  color: green;
}

.title {
  color: red;
  text-align: center;
  font-family: Georgia, Arial, Helvetica;
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
} 
