/*Made by Samalmi for her personal website
2022-11-18 - Last edit 2022-12-10
home page*/

html { 
  background: url(Home_Background.png) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.logo {
display: inline-block;
background: center;
width: auto;
height: 10%;
}