/*Made by Samantha Blair for her personal website
2023-07-23 - Last edit 2023-07-23
portfolio page*/


html { 
  background: url(Home_Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery_flowers {

  font-family: Georgia, Arial, Helvetica;
  margin-top: auto;
  margin-left: 0px;
  margin-right: 0px;
  background: #152238;
  display: inline-block;
}

.gallery_landscape {

  font-family: Georgia, Arial, Helvetica;
  margin-top: auto;
  margin-left: 0px;
  margin-right: 0px;
  background: #152238;
  display: inline-block;
}

.gallery_other {

  font-family: Georgia, Arial, Helvetica;
  margin-top: auto;
  margin-left: 0px;
  margin-right: 0px;
  background: #152238;
  display: inline-block;
}


