/*Made by Samalmi for her personal website
2022-12-06 - Last edit 2022-12-11
All Page Style Guide*/

/*header block*/

header {
  text-align: center;
  font-family: Georgia, Arial, Helvetica;
  padding: 5%;
  margin: auto;
  background: rgba(66, 78, 94, 0.884);
  color: white;
  white-space: nowrap;
  overflow-x: auto;
} 

.button {
  display: inline-block;
  text-align: left;
  font-family: Georgia, Arial, Helvetica;
  padding: 5px;
  margin: 10%;
  display: inline-block;
  border: 2px solid #007bff; /* Change this to the desired button color */
  border-radius: 4px;
  background-color: #007bff; /* Change this to the desired button color */
  color: #fff; /* Change this to the desired button text color */
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

h2 {
  display: inline-block
}

/*make buttons more flashy*/

.button:hover {
    background-color: #0056b3; /* Change this to the desired hover background color */
    border-color: #0056b3;
  
.button:active {
background: none;
}

/*attempt to disable scrolling on mobile*/

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
