/*Made by Samalmi for her personal website
2022-12-06 - Last edit 2022-12-11
All Page Style Guide*/


.h2 {
  text-align: center;
}
  
/*header block*/

header {
  text-align: center;
  font-family: Georgia, Arial, Helvetica;
  padding: 1%;
  margin: auto;
  background: rgba(66, 78, 94, 0.884);
  white-space: nowrap;
  overflow-x: auto;
} 

.button {
  display: inline-block;
  text-align: left;
  font-family: Georgia, Arial, Helvetica;
  padding: 5px;
  margin: auto;
  display: inline-block;
  border: 2px solid blue; 
  border-radius: 4px;
  background-color: #007bff;
  color: #fff; 
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background: none;
    border-color: yellow;
  
.button:active {
    background: none;
}

/*attempt to disable scrolling on mobile*/

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
